@using MADBHR.Enum
@using X.PagedList
@model IPagedList<MADBHR_Data.Models.TbDisposal>
@{
    var controller = "EmployeeDisposal";
    ViewData["Title"] = "All " + controller;
    var count = 1;
    var query = Context.Request.Query;
    var DisposalTypeCode = query["DisposalTypeCode"];
    ViewData["Query"] = query;

}
<div class="panel-group" id="accordion" role="tablist" aria -multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne1">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <i class='fa fa-search'></i> Search
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne1">
            <div class="panel-body">
                <form method="get" action="/@controller/Index">
                    <div class="row">

                        @*<div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label" for="FromDate">ကိုယ်ပိုင်အမှတ်</label>
                                <div class="controls">
                                    <input type="text" class="form-control" name="SerialNumber" value="@SerialNumber" id="serialNumber">
                                </div>
                            </div>
                        </div>*@
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label" for="field-4">ပြုန်းတီးအမျိုးအစား</label>
                                <div class="controls">
                                    <select class="form-control" name="DisposalType" value="@DisposalTypeCode" asp-items="ViewBag.DisposalTypeCode" id="disposalType">
                                        <option selected="selected" value="">ပြုန်းတီးအမျိုးအစားရွေးပါ </option>
                                    </select>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">&nbsp;</label>
                                <div class="controls">
                                    <button type="submit" class="btn btn-primary gradient-blue">ရှာဖွေရန်</button>
                                    <a asp-controller="@controller" asp-action="Detail" class="btn btn-primary">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="box">
        <header class="panel-heading">
            <h5 class="title pull-left" style="font-weight:bold">ပြုန်းတီးအင်အားစာရင်းများအသေးစိတ်ကြည့်ရန်</h5>
            <div class="pull-right header_style">
                <a asp-controller="@controller" asp-action="ExcelExportForDetail" class="btn btn-xs btn-secondary" style="width: 80px; height: 25px; padding: 3px;">Excel ထုတ်ရန်</a>
                <a asp-controller="@controller" asp-action="Create" class="btn btn-xs btn-secondary" style="width: 80px; height: 25px; padding: 3px;">အသစ်ထည့်ရန်</a>
            </div>
        </header>
        <div class="box-body" style="margin-top:30px;">
            <div class="row">
                <div class="col-xs-12">

                    <table id="example" class="display table table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>စဉ်</th>
                                <th>အမည်</th>
                                <th>ရာထူး</th>
                                <th>ဌာန</th>
                                <th>ပြုန်းတီးအမျိုးအစား</th>
                                <th>ပြုန်းတီးရက်စွဲ</th>
                                <th>မှတ်ချက်</th>
                                <th></th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td class="text-center">@((((int)ViewBag.Page - 1) * (int)ViewBag.PageSize) + count)</td>
                                <td class="text-center">@item.EmployeeName</td>
                                <td class="text-center">@item.RankType</td>
                                <td class="text-center">@item.Department</td>
                                <td class="text-center">@item.DisposalType</td>
                                <td class="text-center">@item.DisposalDateStr</td>
                                <td class="text-center">@item.Remark</td>

                                <td class="text-center">
                                    <a asp-controller="@controller" asp-action="Edit" asp-route-Id="@item.DisposalPkid" class="btn btn-xs btn-secondary">ပြင်ရန်</a>
                                    <button asp-controller="@controller" asp-action="Delete" asp-route-Id="@item.DisposalPkid" class="btn btn-xs btn-secondary"
                                            onclick="DeleteConfirm('/@controller/Delete/',@item.DisposalPkid)">
                                        ပယ်ဖျက်ရန်
                                    </button>
                                </td>

                            </tr>
                                count++;
                            }
                        </tbody>
                    </table>
                    <partial name="_Pagination" model="Model" view-data="ViewData" />
                </div>
            </div>
        </div>
    </div>
</section>
@*</div>
        </div>
    </div>*@
@section Scripts{
    <script>
        function DeleteConfirm(url, id) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = url + id;
                }
            })
        }
    </script>
}

