@using MADBHR.Enum
@*@model MADBHR_Models.Employee.VMRequestEmployee*@
@model MADBHR_Data.Models.TbTransfer
@{
    var controller = "Transfer";
    ViewData["Title"] = "All " + controller;
}
<section class="content">

    <div class="box">
        <div class="box-header">

            <h4 class="text-blue text-bold">ပြောင်းရွှေ့စာရင်းများဖြည့်သွင်းရန်</h4>
        </div>
        <div class="box-body">
            <div class="row">
                <form action="/@controller/@ViewData["Action"]" method="post" enctype="multipart/form-data">

                    @if (ViewData["Action"].ToString() == ViewEnum.Action.Edit.ToDescription())
                    {
                        <input asp-for="EmployeeCode" hidden />

                    }
                    <input asp-for="TransferPkid" hidden />
                    @*}*@
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label class="form-label" for="field-1">ကိုယ်ပိုင်အမှတ် (ကိန်းဂဏန်း ၄ လုံးသာထည့်ရန်)</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="number" class="form-control" id="field-1" asp-for="SerialNumber" onchange="ChangeNumber()" minlength="1" maxlength="4">
                                    <span asp-validation-for="SerialNumber" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-6 form-group">
                                <label class="form-label" for="field-name">အမည်</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control" id="field-name" value="@ViewBag.Name">
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6 form-group">
                                <label class="form-label" for="field-2">ရာထူး</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control" id="field-rank" value="@ViewBag.Rank">
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="form-label" for="field-2">လက်ရှိရာထူး</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <select class="form-control" asp-for="RankTypeCode" id="rankTypeCode" asp-items="@ViewBag.RankTypeCode">
                                        <option selected="selected" value="">---ရွေးရန်--- </option>
                                    </select>
                                    <span asp-validation-for="RankTypeCode" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label class="form-label" for="field-2">မြို့နယ် (မှ)</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <select class="form-control" asp-for="FromTownshipCode" id="townshipId" asp-items="@ViewBag.FromTownshipCode">
                                        <option selected="selected" value="">---ရွေးရန်--- </option>
                                    </select>
                                    <span asp-validation-for="FromTownshipCode" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="form-label" for="field-3">မြို့နယ် (သို့)</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <select class="form-control" asp-for="ToTownshipCode" asp-items="ViewBag.ToTownshipCode">
                                        <option selected="selected" value="">---ရွေးရန်--- </option>
                                    </select>
                                    <span asp-validation-for="ToTownshipCode" class="text-danger"></span>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label class="form-label" for="field-2">ပြောင်းရွှေ့ရက်စွဲ</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="date" class="form-control" id="field-dob" asp-for="TransferDate">
                                    <span asp-validation-for="TransferDate" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="form-label" for="field-remark">အကြောင်းအရာ</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control" id="field-remark" asp-for="Remark">
                                    <span asp-validation-for="Remark" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12  padding-bottom-30">
                            <div class="text-left">
                                <button type="submit" class="btn btn-primary gradient-blue" id="btnSubmit">သိမ်းမည်</button>
                                <a asp-controller="@controller" asp-action="Index" class="btn btn-primary">ရှေ့သို့ပြန်သွားမည်</a>
                            </div>
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>
</section>
