@using MADBHR.Enum
@using X.PagedList
@model IPagedList<MADBHR_Models.JobExperience.VMJobExperience>
@{
    var controller = "JobHistory";
    ViewData["Title"] = "All " + controller;
    var count = 1;
    var query = Context.Request.Query;
    var SerialNumber = query["SerialNumber"];
    ViewData["Query"] = query;
    ViewData["ActionName"] = "JobExperience";
    var StateDivisionCode = query["StateDivisionCode"];
    var TownshipCode = query["TownshipCode"];

}
<div class="panel-group" id="accordion" role="tablist" aria -multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne1">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <i class='fa fa-search'></i> Search
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne1">
            <div class="panel-body">
                <form method="get" action="/@controller/JobExperience">
                    <div class="row">

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label" for="ToDate">တိုင်းဒေသကြီးများ</label>
                                <div class="controls">
                                    <select class="form-control" name="StateDivisionCode" value="@StateDivisionCode" asp-items="ViewBag.StateDivision" id="stateDivision" onchange="Change()">
                                        <option selected="selected" value="">---ရွေးရန်---</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label" for="ToDate">မြို့နယ်များ</label>
                                <select class="form-control" name="TownshipCode" value="@TownshipCode" id="townshipCode">
                                    <option selected="selected" value="">---ရွေးရန်---</option>
                                </select>
                            </div>
                        </div>
                        @*<div class="col-md-3">
                                <div class="form-group">
                                    <label class="form-label" for="field-4">ကိုယ်ပိုင်အမှတ်</label>
                                    <div class="controls">
                                        <input type="text" class="form-control" asp-for="@SerialNumber" id="SerialNumber">
                                    </div>
                                </div>
                            </div>*@


                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">&nbsp;</label>
                                <div class="controls">
                                    <button type="submit" class="btn btn-primary gradient-blue">ရှာဖွေရန်</button>
                                    <a asp-controller="@controller" asp-action="Detail" class="btn btn-primary">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="box">
        <header class="panel-heading">
            <h5 class="title pull-left" style="font-weight:bold">စုစုပေါင်းလုပ်သက် ကြည့်ရန်</h5>
        </header>
        <div class="box-body" style="margin-top: 30px;">
            <div class="row">
                <div class="col-xs-12">

                    <table id="example" class="display table table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>စဉ်</th>
                                <th>ကိုယ်ပိုင်အမှတ်</th>
                                <th>အမည်</th>
                                <th>မှတ်ပုံတင်အမှတ်</th>
                                <th>ဌာနအမည်</th>
                                <th>ရာထူး အဆင့်</th>
                                <th>စတင်ဝင်ရောက်သည့်နေ့</th>
                                <th>လုပ်သက်(နှစ်)</th>
                                <th>လုပ်သက်(လ)</th>
                                <th>လုပ်သက်(ရက်)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="text-center">@((((int)ViewBag.Page - 1) * (int)ViewBag.PageSize) + count)</td>
                                    <td class="text-center">@item.SerialNumber</td>
                                    <td class="text-center">@item.EmployeeName</td>
                                    <td class="text-center">@item.NRC</td>
                                    <td class="text-center">@item.Department</td>
                                    <td class="text-center">@item.RankType</td>
                                    <td class="text-center">@item.JoinDate</td>
                                    <td class="text-center">@item.JExpYear</td>
                                    <td class="text-center">@item.JExpMonth</td>
                                    <td class="text-center">@item.JExpDay</td>
                                </tr>
                                count++;
                            }
                        </tbody>
                    </table>
                    <partial name="_Pagination" model="Model" view-data="ViewData" />
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script>

        $(document).ready(function () {
            if ('@ViewBag.AccountType' == "Super Admin") {
                document.getElementById("stateDivision").setAttribute("disabled", "disabled");
                $.ajax({
                    url: '/Employee/GetTownhsipByDivision?divisonCode=' + $("#stateDivision").val(),
                    type: 'GET',
                    ContentType: 'application/json;utf-8',
                    datatype: 'json',
                    success: function (res) {
                        var selectList = document.getElementById("townshipCode");
                        for (var i = 0; i < res.length; i++) {
                            var option = document.createElement("option");
                            option.value = res[i].townshipCode;
                            option.text = res[i].township;
                            selectList.appendChild(option);
                        }
                    }

                });
            }
            else if ('@ViewBag.AccountType' == "User") {

                $.ajax({
                    url: '/Employee/GetTownship?divisonCode=' + $("#stateDivision").val() + '&TownshipCode=@ViewBag.TownshipId',
                    type: 'GET',
                    ContentType: 'application/json;utf-8',
                    datatype: 'json',
                    success: function (res) {
                        var selectList = document.getElementById("townshipCode");
                        for (var i = 0; i < res.length; i++) {
                            var option = document.createElement("option");
                            option.value = res[i].townshipCode;
                            option.text = res[i].township;
                            selectList.appendChild(option);
                        }
                    }

                });
                document.getElementById("stateDivision").setAttribute("disabled", "disabled");

            }

        });

        function Change() {
            console.log("StateDivision Text", $("#stateDivision :selected").text()); // The text content of the selected option
            console.log("StateDivision Text", $("#stateDivision").val());
            debugger;
            $.ajax({

                url: '/Employee/GetTownhsipByDivision?divisonCode=' + $("#stateDivision").val(),
                type: 'GET',
                ContentType: 'application/json;utf-8',
                datatype: 'json',
                success: function (res) {
                    var selectList = document.getElementById("townshipCode");
                    //selectList.id = "mySelect";
                    //myParent.appendChild(selectList);

                    //Create and append the options
                    for (var i = 0; i < res.length; i++) {
                        var option = document.createElement("option");
                        option.value = res[i].townshipCode;
                        option.text = res[i].township;
                        selectList.appendChild(option);
                    }
                }

            });
        }
       
    </script>
}
