@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@using MADBHR.Enum
@*@model MADBHR_Models.Employee.VMRequestEmployee*@
@model MADBHR_Data.Models.TbSonAndDaughter
@{
    var controller = "SonAndDaughter";
    ViewData["Title"] = "All " + controller;
}

<section class="content">

    <div class="box">
        <div class="box-header">

            <h4 class="text-blue text-bold">သား/သမီး၏ ကိုယ်ရေးအချက်အလက်ဖြည့်သွင်းရန်</h4>
        </div>
        <div class="box-body">
            <div class="row">
                <form action="@Configuration.GetSection("AppUrls").GetSection("TestUrl").Value/@controller/@ViewData["Action"]" method="post" enctype="multipart/form-data">
                    <input asp-for="SonAndDaughterPkid" hidden />
                    @if (ViewData["Action"].ToString() == ViewEnum.Action.Edit.ToDescription())
                    {
                        <input asp-for="EmployeeCode" hidden />

                    }
                    <div class="col-xs-12">

                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label class="form-label" for="field-1">ကိုယ်ပိုင်အမှတ်</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control" id="field-1" value="@ViewBag.SerialNumber">
                                    @*<span asp-validation-for="SerialNumber" class="text-danger"></span>*@
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="form-label" for="field-2">သား/သမီးအမည်</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control" id="field-2" asp-for="SonAndDaughterName">
                                    <span asp-validation-for="SonAndDaughterName" class="text-danger"></span>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label class="form-label" for="field-8">​မွေးသက္ကရာဇ်</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="date" class="form-control" id="field-8" asp-for="SonAndDaughterDob">
                                    <span asp-validation-for="SonAndDaughterDob" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="form-label" for="field-4">အလုပ်အကိုင်</label>
                                <input type="text" class="form-control" id="field-4" asp-for="SonAndDaughterOccupation">
                                <span asp-validation-for="SonAndDaughterOccupation" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label class="form-label" for="field-7">နေရပ်လိပ်စာ</label>
                                <span class="desc"></span>
                                <div class="controls">
                                    <input type="text" class="form-control" id="field-7" asp-for="SonAndDaughterAddress" value="@ViewBag.Address">
                                    <span asp-validation-for="SonAndDaughterAddress" class="text-danger"></span>
                                </div>
                            </div>

                        </div>

                        <div class="col-xs-12  padding-bottom-30">
                            <div class="text-left">
                                <button type="submit" class="btn btn-primary gradient-blue">သိမ်းမည်</button>
                                <a asp-controller="@controller" asp-action="Index" asp-route-EmployeeCode="@ViewBag.EmployeeCode" class="btn btn-primary">ရှေ့သို့ပြန်သွားမည်</a>
                            </div>
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>
</section>