@using MADBHR.Enum
@using X.PagedList
@model IPagedList<MADBHR_Data.Models.TbEmployee>
@{
    var controller = "Employee";
    ViewData["Title"] = "All " + controller;
    var count = 1;
    var query = Context.Request.Query;
    var StateDivisionCode = query["StateDivisionCode"];
    var TownshipCode = query["TownshipCode"];
    var Status = query["Status"];
    ViewData["Query"] = query;
    ViewData["ActionName"] = "AdminIndex";

}
@*<div class="col-xs-12 ">
    <div class=" bg-w">
        <div class="col-lg-12">*@

<div class="panel-group" id="accordion" role="tablist" aria -multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne1">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <i class='fa fa-search'></i> Search
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne1">
            <div class="panel-body">
                <form method="get" action="/@controller/AdminIndex">
                    <div class="row">
                        @*<div class="col-md-3">
            <div class="form-group">
                <label class="form-label" for="ToDate">တိုင်းဒေသကြီးများ</label>
                <div class="controls">
                    <select class="form-control" name="StateDivisionCode" value="@StateDivisionCode" asp-items="ViewBag.StateDivision" id="stateDivision" onchange="Change()">
                        <option selected="selected" value="">---ရွေးရန်---</option>
                    </select>
                </div>
            </div>
        </div>*@
                        <input asp-for="@StateDivisionCode" hidden />
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label" for="ToDate">မြို့နယ်များ</label>
                                <select class="form-control" name="TownshipCode" value="@TownshipCode" asp-items="ViewBag.TownshipCode" id="townshipCode">
                                    <option selected="selected" value="">---ရွေးရန်---</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label" for="ToDate">အတည်ပြုအခြေနေ</label>
                                <select class="form-control" name="Status" value="@Status" asp-items="ViewBag.Status" id="status" disabled>
                                    <option selected="selected" value="">---ရွေးရန်---</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="form-label">&nbsp;</label>
                                <div class="controls">
                                    <button type="submit" class="btn btn-primary gradient-blue">ရှာဖွေရန်</button>
                                    <a asp-controller="@controller" asp-action="AdminIndex" asp-route-StateDivisionCode="@StateDivisionCode" class="btn btn-primary">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="box">
        <header class="panel-heading">
            <h5 class="title pull-left" style="font-weight:bold">ကိုယ်ရေးအချက်အလက်များကို မြို့နယ်အလိုက်ကြည့်ရန်</h5>
            <div class="pull-right header_style">
                @*<button type="button" data-href="/@controller/Create" class="btn btn-click">Create</button>*@
                <a asp-controller="@controller" asp-action="ExcelExport" class="btn btn-xs btn-secondary" style="width: 80px; height: 25px; padding: 3px;">Excel ထုတ်ရန်</a>
                <a asp-controller="@controller" asp-action="Create" class="btn btn-xs btn-secondary" style="width: 80px; height: 25px; padding: 3px;">အသစ်ထည့်ရန်</a>
            </div>
        </header>
        <div class="box-body" style="margin-top: 30px;">
            <div class="row">
                <div class="col-xs-12">

                    <table id="example" class="display table table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>စဉ်</th‌>
                                <th>တိုင်းဒေသကြီး</th>
                                <th>မြို့နယ်</th>
                                <th>အမည်</th>
                                <th>မြို့နယ်ရုံးအမည်</th>
                                <th>ရာထူး</th>
                                <th>အဖ အမည်</th>
                                <th>အမိ အမည်</th>
                                <th>ကိုးကွယ်သည့်ဘာသာ</th>
                                <th>လူမျိုး</th>
                                <th>အတည်ပြု အခြေနေ</th>
                                <th>မှတ်ချက်များ</th>
                                <th></th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="text-center">@((((int)ViewBag.Page - 1) * (int)ViewBag.PageSize) + count)</td>
                                    <td class="text-center">@item.StateDivision</td>
                                    <td class="text-center">@item.Township</td>
                                    <td class="text-center">@item.Name</td>
                                    <td class="text-center">@item.OccupationName</td>
                                    <td class="text-center">@item.CurrentRank</td>
                                    <td class="text-center">@item.FatherName</td>
                                    <td class="text-center">@item.MotherName</td>
                                    <td class="text-center">@item.Religion</td>
                                    <td class="text-center">@item.Race</td>
                                    @*<td class="text-center">@item.Status</td>*@
                                <td class="text-center">
                                    @if (item.Status == "Pending")
                                    {
                                        @if (ViewBag.lstLogIn.AccountType == "Head Admin")
                                        {
                                            <select class="form-control" name="ApproveStatus" id="approveStatus" onchange="ChangeStatus('@item.EmployeeCode')">
                                                <option selected="selected" value="0">Pending</option>
                                                <option value="Approve">Approve</option>
                                                <option value="Reject">Reject</option>
                                            </select>
                                            <input value="@item.EmployeeCode" id="EmpCode" hidden />
                                        }
                                        else
                                        {
                                            <select class="form-control" name="ApproveStatus" id="approveStatus" onchange="ChangeStatus('@item.EmployeeCode')" disabled>
                                                <option selected="selected" value="0">Pending</option>
                                                <option value="Approve">Approve</option>
                                                <option value="Reject">Reject</option>
                                            </select>
                                        }
                                    }
                                    @if (item.Status == "Approve")
                                    {<select class="form-control" name="ApproveStatus" id="approveStatus" onchange="ChangeStatus('@item.EmployeeCode')" disabled>
                                            <option selected="selected" value="0">Pending</option>
                                            <option value="Approve" selected="selected">Approve</option>
                                            <option value="Reject">Reject</option>
                                        </select>

                                    }
                                    @if (item.Status == "Reject")
                                    {<select class="form-control" name="ApproveStatus" id="approveStatus" onchange="ChangeStatus('@item.EmployeeCode')" style="color:red" disabled>
                                            <option selected="selected" value="0">Pending</option>
                                            <option value="Approve">Approve</option>
                                            <option value="Reject" selected="selected">Reject</option>
                                        </select>

                                    }
                                </td>
                                    <td class="text-center">@item.RejectComment</td>
                                    <td class="text-center">
                                        <a asp-controller="Relationship" asp-action="Index" asp-route-EmployeeCode="@item.EmployeeCode" class="btn btn-xs btn-secondary">ဇနီး/ခင်ပွန်းအချက်အလက်ကြည့်ရန်</a>
                                        <a asp-controller="@controller" asp-action="Edit" asp-route-Id="@item.EmployeePkid" class="btn btn-xs btn-secondary">ပြင်ရန်</a>
                                        <button asp-controller="@controller" asp-action="Delete" asp-route-Id="@item.EmployeePkid" class="btn btn-xs btn-secondary"
                                                onclick="DeleteConfirm('/@controller/Delete/',@item.EmployeePkid)">
                                            ပယ်ဖျက်ရန်
                                        </button>
                                    </td>

                                </tr>
                                count++;
                            }
                        </tbody>
                    </table>
                    <partial name="_Pagination" model="Model" view-data="ViewData" />
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="မှတ်ချက်ဖြည့်သွင်းခြင်း"
     data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticModalLabel">
                    မှတ်ချက်ဖြည့်သွင်းခြင်း
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>   မှတ်ချက်ဖြည့်သွင်းရန်</label>&nbsp&nbsp<span style="color:red;">*</span>
                            <textarea name="textarea-input" id="txtComment" rows="5" placeholder="မှတ်ချက်ဖြည့်သွင်းရန်" class="form-control"></textarea>

                        </div>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" id="btnYes" class="btn btn-secondary" data-dismiss="modal">လုပ်မည်</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">မလုပ်ပါ</button>
            </div>
        </div>
    </div>
</div>

@*</div>
        </div>
    </div>*@
@section Scripts{
    <script>

        $(document).ready(function () {
            $('#myModal').modal('hide');
           
            $('#btnYes').click(function () {
                $.ajax({

                    url: '/Employee/EmployeeStatusChange?EmployeeCode=' + $('#EmpCode').val() + '&Status=' + $('#approveStatus').val() + '&Comment=' + $('#txtComment').val(),
                    type: 'POST',
                    ContentType: 'application/json;utf-8',
                    datatype: 'json',
                    success: function (res) {

                    }

                });
            });
            $('#townshipCode').click(function () {
                $('#status').prop('disabled', false);
            });

        });
        function ChangeStatus(EmployeeCode) {
            var status = $('#approveStatus').val();
            console.log("status", status);
            if (status == "Approve") {
                $.ajax({

                    url: '/Employee/EmployeeStatusChange?EmployeeCode=' + EmployeeCode + '&Status=' + status,
                    type: 'POST',
                    ContentType: 'application/json;utf-8',
                    datatype: 'json',
                    success: function (res) {

                    }

                });
            }
            else {
                EmpCode = EmployeeCode;
                $('#myModal').modal('show');
            }
        }


       
    </script>
}